

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 5%;
    z-index: 999;
    transition: all .4s;
}

header.scroll{
    background-color: #fff;
    
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header.scroll .logo a,
.header-scrolled .logo a {
    color: black !important;
}

.logo a{
    font-size: 33px;
    color: white;
}

.logo a span{
    color: crimson;
}

.navlist {
    display: flex;
    align-items: center;

}

.navlist a{
    padding: 10px 20px;
    font-size: 20px;

    transition: all .4s;
}

.navlist a:hover{
    color: crimson;
}

.menu{
    display: none;
}

.menu i{
    font-size: 30px;
    cursor: pointer;

}
@font-face {
  font-family: Coolvetica;
  src: url(coolvetica.otf);
}

@font-face {
  font-family: Poppins;
  src: url(Poppins-Bold.ttf);
}

#quiz {
  text-decoration: no;
  
}

#quiz:hover {
  color: #ab78ba;
}

.quizfont {
  font-family: Poppins;
  color: black;
  font-size: 20px;
}

#quiztitle {
  font-family: Poppins;
  color: black;
  font-size: 50px;
  position: relative;
  bottom: 70px;
}

option, select {
	height: 30px;
	font-size: 20px;
  color: black;
}

body, html {
  background-color: #006994;
	scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  color: #f0f8ff;
  font-size: 50px;
}

h2 {
  font-size: 30px;
  color: purple;
}

h3{
  color:  #f0f8ff;;
}

#aboutUs{
	position: relative;
  margin-top: 50%;
	text-align: center;
  font-size: 40px;
  color: #f0fff0 ;
  margin-bottom: 5%;
}

#internships {
  text-align: center;
  font-size: 40px;
  margin-top: 5%;
  margin-bottom: 3%;
  color: #f0fff0 
}

#mission {
  font-size: 25px;
}

p, .emails {
  text-align: center;
  color: black;
  font-size: 17px;
	text-decoration: none;
}

.emails:hover{
	color:blue;
}

.split {
  top: 130px;
  height: 80%;
  width: 50%; 
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 10px;
  border: 2px solid purple;
}

.left {
  left: 0;
  background-color: #264348;
}

.right {
  right: 0;
  background-color: #264348;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
	background-color: #f5fffa;
  border-radius: 50px;
	height: 70%;
  width: 75%;
  
}

#career {
  background-color: #f5fffa;
  text-align: center;
  font-size: 15px;
  font-family: Coolvetica;
}

#career option {
  background-color: #a772a2;
  text-align: center;
  font-size: 15px;
  font-family: Coolvetica;
}

hr {
  background-color: black;
  height: 3px;
}

 .btn {
  background: purple;
  border: 5px solid #000; 
  color: white;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding: 15px 25px;
  min-width: 120px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.1s linear;
  position: relative;
  bottom: 100px;
  font-size: 15px;
}

.btn:hover{
  color: black;
}

.btn::before{
  content:"";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0,7);
} 

a { 
  color: inherit;
}

input[type=submit] {
  font-size: 20px;
  background-color: purple;
  color: white;
  font-family: Coolvetica;
}

/* Internship pages */

.pfp {
	width: 150px;
  height: 150px;
  border-radius: 50%;
}

.exp {
  display: flex;
}

.experts {
  display: inline;
  flex: 33.33%;
  padding: 5px;
  text-align: center;
  padding-top: 180px;
}


.pfpLink {
	border: none;
/* 	color: white; */
	background-color: rgb(199, 170, 238);
/* 	font-size: 44px; */
	border-radius: 50%;
	width: 150px;
	height: 150px;
/* 	font-weight: bold; */
}

.expand-container {
  overflow: hidden;
	background-color: white;
	width: 50%;
	margin: 0 auto;
  border: 1px solid black;
}

#p1{
  margin-top: -100%;
  transition: all 1s;  
}
  
#p1.expanded {
  margin-top: 0;
}

#p1.collapsed {
  margin-top: -400px;
}

#p2{
  margin-top: -100%;
  transition: all 1s;  
}
  
#p2.expanded {
  margin-top: 0;
}

#p2.collapsed {
  margin-top: -400px;
}

#p3{
  margin-top: -100%;
  transition: all 1s;  
}
  
#p3.expanded {
  margin-top: 0;
}

#p3.collapsed {
  margin-top: -400px;
}

.topline {
  position: relative;
  bottom: 100px;
  background-color: white;
}

.interntext {
	font-family: Coolvetica;
	background-image: 
    linear-gradient(to top, black 50%, white 50%);
	background-position: bottom;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  background-size: 100% 200%;
	transition: background-position 0.5s, color 0.5s;
}

.interntext:hover {
  background-position: top;
	color:black;
}

#stemimg {
  position: relative;
  bottom: 50px;
}

.toptext {
  position: relative;
  bottom: 100px;
  top: 10px;
  text-align: center;
  color:  #f0f8ff;;
}

.toptext2 {
  position: relative;
  bottom: 100%;
  color: black;
  padding-top: 2%;
}


